{
  email moronfoluwaakintola@gmail.com
}

*.insightaura.duckdns.org {
  tls {
    dns duckdns {env.DUCKDNS_TOKEN}
  }

  # Frontend - base domain or frontend subdomain
  handle_path / {
    reverse_proxy frontend:3000
  }

  handle_path /airflow* {
    reverse_proxy airflow_standalone:8080
  }

  handle_path /grafana* {
    reverse_proxy grafana:3001
  }

  handle_path /mlflow* {
    reverse_proxy mlflow:5001
  }

  handle {
    # Fallback proxy
    reverse_proxy frontend:3000
  }
}
